.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  min-width: 80vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
}

.dropdown-container {
  position: relative;
}

.dropdown-icon {
  cursor: pointer;
  color: #f2613f;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
}
