.form-container {
  max-width: 600px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.problem-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.required {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #f2613f;
}

select {
  appearance: none; /* Optional: Remove default dropdown styling for consistency */
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button {
  padding: 10px;
  background-color: rgb(155, 57, 34);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f2613f;
}
